@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

:root {
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsla(93, 75%, 76%);
  --paleGreen: hsl(96,75%,89%);
  --whiteColor: hsl(0, 0%,100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyColor: hsl(0, 0%,75%);
  --bgColor : hsl(113, 11%,85%);
  --inputColor : hsl(330,12%,97% );
  --itemCardHover : hsl(120,5%,88% );
  --textColor: hsl(240,1%,48%);


  --biggestFontSize:2.5rem;
  --h1FontSize:1.5rem;
  --h2FontSize:1.25rem;
  --h3FontSize:1rem;
  --normalFontSize:.938rem;
  --smallFontSize:.813rem;  
  --smallestFontSize:.75rem;  
}

.flex {
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center;
  gap: 1.5rem;
}
html {
  font-size: 90%;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}
img, video {
  height: auto;
  width: 100%;
  
}
.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  padding:10px ;
  background: rgb(255,0,0);
  border-radius: 3px;
  text-align: center;
}
.showMessage {
  display: block;
  color: var(--whiteColor);
  background: rgb(255,0,0);
  border-radius: 3px;
  text-align: center;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
  color: var(--greyColor);
}
.btn .icon {
  margin-left: .5rem;

}
.btn:hover {
 color: var(--primaryColor);
 background: var(--paleGreen);
  
}

.loginPage, .registerPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
    .container {
      height: 75vh;
      width: 60%;
      margin: auto;
      justify-content: space-between;
      border-radius: 10px;
      background: hsl(0, 0%, 91%) ;
    
  .videoDiv { 
    position: relative;
    display: flex;
    flex-basis: 50%;
    width: 70%;
    height: 100%;
    padding: 0 1.5rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
  
  video, .footerDiv  {
    position: absolute;
  }

    video{
      height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

    }
    .textDiv{
      position: relative;
      
      .title{
        color: var(--whiteColor);
        font-size: 35px;
        font-weight: 800;
      }
    }
    p{
      color: var(--whiteColor);
      padding: 1rem;
      font-weight: 400;
    }
    
    .footerDiv {
      
      bottom: 10px;
      padding: 0 1rem;
      height: 60px;
      background: rgba(255, 255, 255, 0.248);
      left: 10px;
      right: 10px;
      backdrop-filter: blur(1px);
      border-radius: 10px;
      justify-content: space-between; 
      display: flex; 
      align-items: center; 
      .text{
        color: var(--whiteColor);
      }
      .btn{
        background: var(--whiteColor);
        color: var(--primaryColor);
        padding: .8rem 1.5rem;
        
        border-radius: 10px;
        font-weight: 400;
        transition: .3s ease;
        &:hover{
          
          background: var(--hoverColor);
          color: var(--blackColor);
        }
      }
    }
  }

  .formDiv {
    flex-basis: 50%;
    margin: auto;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateY(-1.5rem);
    align-items: center; /* Add this line to center items horizontally */
  }
  
  .formDiv .headerDiv {
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;   
    align-items: center; /* Add this line to center items horizontally */
  }
  
  .formDiv .headerDiv img {
    width: 60px;
    padding-bottom: .5rem;
    order: -1;
  }
  .formDiv .headerDiv h3{
    font-size: 25px;
    color: var(--blackColor);
    font-weight: 600;

  }
 
  .form {
    gap: 1rem;
  
    .inputDiv {
      .icon {
        color: var(--greyColor);
      }
      input {
        background: none;
        outline: none;
        border: none;
        width: 200px;
      }
      label {
        color: var(--blackColor);
        font-weight: 400;
        font-size: 14px;
        padding: 0.5rem 0;
        display: block;
      }
      .input {
        gap: .5rem;
        padding: 1rem;
        background: var(--inputColor);
        border-radius: 10px;
        border: 1.5px solid transparent;
      }
      .input:focus-within  {
        border: 1.5px solid var(--primaryColor);
        transition: all 0.3s ease; /* Border color on child focus */
      }
    }
  
    .btn {
      padding: .8rem;
      background: var(--primaryColor);
      border-radius: 10px;
      color: var(--whiteColor);
      align-items: center;
      margin: auto;
      justify-content: center;
      font-size: 16px;
      width: 100%;
      gap: .5rem;
      transition: .3s ease; /* Fixed typo here */
      .icon {
        font-size: 25px;
        transition: .3s ease; /* Fixed typo here */
      }
      
    }
  
    .btn:hover {
      background: var(--hoverColor); /* Increase specificity and add !important */
      color: var(--blackColor); /* Increase specificity and add !important */
      .icon {
        color: var(--blackColor); /* Increase specificity and add !important */
        transform: translateX(5px);
      }
    } 

    .forgotPassword {
      font-size: 13px;
      color: var(--blackColor);
      opacity: .7;
      text-align: center;
      a{
        text-decoration: underline;
        cursor: pointer;
        opacity: 1;
      }
    }
  }
  

 }
}


.container{
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyColor);
}

.sideBar h2 {
  font-size: var(--h2FontSize);
  color: var(--blackColor);
  display: inline-block;
}

.menuDiv, .settingsDiv {
  .divTitle {
    font-size: var(--h3FontSize);
    color: var(--blackColor);
    padding: 0 1.5rem 1.5rem;  
  } 
  .menuLists{
    .listItems {
      padding: .2rem 1.5rem;
      width: 100%;
      position: relative;

      &::before{
        position: absolute;
        content: '';
        height: 0%;
        left: 0;
        width: 5px;
        bottom: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: var(--primaryColor);

      }
      .menuLink {
        color: var(--greyColor);
        font-weight: 500;
        transition: 0;
        .icon{
          margin-right: .5rem;
        }
      }
      &:hover .menuLink {
        color: var(--primaryColor);
        transition: 0;
      }
      &:hover::before{
        height: 100%;
        transition: .3s ease;
      }

    }
  }
 
}



.sideBarCard {
  width: 100%;
  padding-left: 1rem;
  text-align: center;
  position: relative;

  .icon{
    position: absolute;
    background: var(--hoverColor);
    border: 10px solid var(--whiteColor);
    font-size: 3rem;
    border-radius: 50%;
    top: -8px;
    right: 50%;
    transform: translate(50%);
    z-index: 100;

  }

  .cardContent{
    position: relative;
    padding: 1rem;
    background: var(--hoverColor);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    margin-right:25px ;
    
    h3{
      font-size: var(--h3FontSize);
      margin-top: 1rem;
      padding: 1rem 0;
      font-weight: 800;
      color: var(--blackColor);
    }
    p{
      font-size: var(--normalFontSize);
      /* color: var(--greyColor); */
      padding-bottom: 1rem;
      font-weight: 500;      
    }
    .btn{
      position: relative;
      color: var(--blackColor);
      z-index: 1000;
    }
    .circle1, .circle2{
      position: absolute;
      background-color: var(--paleGreen);
      border-radius: 50%;
      opacity: .7;

    }

    .circle1{
      height: 100px;
      width: 100px;
      top:-50px;
      right:-50px;
    }
    .circle2{
      height: 150px;
      width: 150px;
      bottom:-80px;
      left  :-70px;
      z-index: 1;
    }   
  }
}

::-webkit-scrollbar{
  display: none;
}

.topSection{
  .headerSection{
    justify-content: space-between;

    .title{
      h1{
        font-size: var(--h1FontSize);
        color: var(--blackColor);
        font-weight: 700;
  
      }
      p{
        font-size: var(--normalFontSize);
        color: grey;
        font-weight: 500;
      } 
    }

    .searchBar{
      padding: 1rem 2rem;
      background: var(--whiteColor);
      border-radius: 5px;
      gap: 1rem;
      box-shadow: 0 2px 4px var(--inputColor);

      input{
        border: none;
        outline: none;
        background: none;

      }
      .icon{
        color: var(--blackColor);
        &:hover {
          color: var(--primaryColor);
        }
      }


    }

    .adminDiv{
      gap: 1rem;

      .icon{
        font-size: var(--biggestFontSize);
        background: var(--whiteColor);
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 2px 4px var(--inputColor);

        color: grey;

      }
      .adminImage{
        border: 3px solid var(--whiteColor);
        border-radius: 10px;
        width: 2.5rem;
        overflow: hidden;
        box-shadow: 0 2px 4px var(--inputColor);
        cursor: pointer;
        
        img{
          width: 100%;
          height: 100%;
          border-radius: 10px ;
        }
        
      }
    }
  }

  .cardSection{
    margin-top: 3rem;
    gap: 1rem;

    .rightCard{
      position: relative;
      flex-basis: 70%;
      height: 200px;
      flex-direction:column ;
      align-items: flex-start;
      justify-content: center;
      margin: auto;
      padding: 2rem;
      border-radius: 1rem;
      background-size: cover;
      background-position: center;
      overflow: hidden;

      .videoDiv{
        position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;

        video{
          width: 100%;
          height: 100%;
          object-fit: cover;

        }
      }

      h1,p, .btn{
        z-index: 100  ;
      }
      h1{
        font-size: var(--h1FontSize);
        color: var(--whiteColor);
        font-weight: 800;
      }
      p{
        padding: 1rem ;
        color: var(--paleGreen);
        font-weight: 500;
      }
      .buttons {
        gap: 1rem;
        .btn{
          box-shadow: none;
          padding: .8rem 1.5rem;
          color: var(--primaryColor);
          border-radius:2px solid transparent;
           
        }
        .transparent{
          background: none;
          border: 2px solid var(--whiteColor);
          color: var(--whiteColor);
          &:hover{
            background: var(--paleGreen);
            color: var(--primaryColor);
          }
        }

      }

    }

    .leftCard{
      flex-basis: 50%;
      margin-left: 50px;
      .main{
        position: relative;
        padding: 1rem;
        height: 200px;
        border-radius: 1rem;
        justify-content: space-between;
        &::before{
          content: '';
          position: absolute;
          height: 100%;
          width: 105%;
          background: var(--paleGreen);
          left: 0;
          bottom: 0;
          border-radius: 1rem;
        }
        .textDiv{
            z-index: 100;
            h1{
              font-size: var(--h1FontSize);
              padding-bottom: 1rem;
              color: var(--blackColor);
            }
            .flex{
              gap: 1.5rem;
              font-weight: 500;
              color: var(--blackColor);
                small{
                  font-size: var(--normalFontSize);
                  display: block;
                  color: var(--primaryColor);
                  font-weight: 500;
                  padding: .5rem 0;
                }

            }
            .link{
              margin-top: 2rem;
              cursor: pointer;

                &:hover{
                  color: var(--primaryColor);
                  .icon{
                    transform: translateX(10px);
                    transition: .3s ease;
                  }
                }
            }

        }

        .imgDiv{
          transform: translateY(-0px);
          transform: translateX(7px);

          img{
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
  
  
}


.listingSection {
  flex-basis: 70%;
    .heading{
      width: 100%;
      justify-content: space-between;

      h1{
        font-size: var(--h2FontSize);
        color: var(--blackColor);
        font-weight: 500;
      }

      .btn{
        border: 1px solid transparent;
      }
      .btn:hover{
        border: 1px solid var(--primaryColor);
      }
    }
    .secContainer{
      /* flex-direction: row; */
      width: 100%;
      margin: 1rem 0;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      
      .singleItem {
        position: relative;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;  
        padding: 1rem;
        padding-top: 1.2rem;
        border-radius: 10px;
        margin-bottom: 1em;
        background: var(--itemCardHover);
        
        
       
        &:hover {
          /* background: var(--primaryColor); */
          box-shadow: 0 2px 2px var(--inputColor);

        }
        .userall{
          width: 90%;
          margin-bottom: 15px;
          display: flex;
          flex-direction: row;
          justify-content: space-between; 
           
          .userPart{
          
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          
           .grey{        
            color: grey;
            font-weight: 550;
            font-size: var(--smallFontSize);
           }
      
            
            img{
              
              margin-right: 10px ;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              object-fit: cover;
            }
            
          }
          .more{
            cursor: pointer;
            
            font-size: var(--smallFontSize);
           
            height: 25px;
            width: 25px;
            &:hover{
              color: var(--primaryColor);
              transform: translateX(5px);
              transition: .3s ease;
            }
          }
        }
       
         img{
          width: 95%;
          border-radius: 10px;
        }

        .postIcon{
          margin: 9px;
          padding: 5px;
          display: flex;
          align-items: center;
          width: 95%;
          justify-content: space-evenly;
          padding-bottom: 8px;
          border-bottom: 1px ridge grey; 
          
          .icon{
          margin-right: 3px;
          z-index: 1px;          
            
          }
        }
       .single{
        display: flex;
        justify-content: center;
        align-items: center;

       }
      h3{
        font-size: var(--h3FontSize);
        color: var(--blackColor);
        padding: 1rem 0;
      } 
  
       

      }
      .captionSection{
        margin: 0 15px;
        padding: 5px;
        .content{
        --max-lines: 1;
        --line-height: 1.4;
        margin-bottom: 3px;

        height: calc(var(--max-lines) * 1em * var(--line-height));
        line-height: var(--line-height);
       }
       overflow: hidden;
       position: relative;
       
       
      }
      label{
        display: inline-block;
        cursor: pointer;
        color: var(--blackColor);
      }
      #ch {
        display: none;
      }
      label{
        color: hsl(0, 0%, 48%);
        font-size: smaller;
        font-weight: 500;
      }
      
     
      .content:has(+ .expand-btn:not(:checked)):before{
        content: '';
        position: absolute;
        height: calc(1em * var(--line-height));
        width: 100%;
        bottom: 0;
        pointer-events: none;
        background: linear-gradient(to bottom, transparent, var(--itemCardHover));
        
        
      }
      .expand-btn{
        display: none;
      }
      .content:has(+ .expand-btn:checked){
        height: auto;        
      }
     
    }
}

.activitySection{
  flex-basis: 50%;
    .heading{
      width: 100%;
      justify-content: space-between;
      margin-bottom:33px ;

      h1{
        font: var(--h2FontSize);
        color: var(--blackColor);
        font-weight: 700;

      }
      .btn {
          border: 1px solid transparent;

      }
      .btn:hover{
        border: 1px solid var(--primaryColor);
      }
    }
    .secContainer{
      margin-top: .7rem;
      .singleCustomer{
        align-items: flex-start;
        justify-content: space-between;
        img{
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 0 2px var(--itemCardHover);
          margin-right: 1rem;
          
        }
        .customerDetails{
          flex: 1;
          .name{
            font-size: var(--h3FontSize);
            font-weight: 600;
            color: var(--blackColor);
            display: block;
          }
          small{
            font-weight: 500;
            color: grey;
            font-size: var(--smallFontSize);

          }
          
        }
        .duration{
          color: var(--textColor);
          font-weight: 500;
          font-size: var(--smallestFontSize);
        }
      }
    }  
  }

  /* .dashboard {
    height: 100vh;
    width: 100%;
    justify-content: center;
    margin: auto;
    .dashboardContainer{
      
    }
  } */

.dashboard-wrapper {
    width: 100%;
    height: 100vh; 
}

.dashboard {
    width: 100%;
    height: 100%;
}

.dashboardContainer {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
} 



//Media
@media screen and (max-width: 500px){
  .heading{
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 918px){
  .heading{
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 990px){
  .heading{
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}



@media screen and (max-width: 602px){
  .loginPage, .registerPage{
    .container{
    
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;

    .videoDiv{
      width: 100%;
      .textDiv{
        .title{
          font-size: 20px;
        }
        p{
          padding: 1rem;
        }
      }
      .footerDiv{
        transform: translateY(-3.5rem);
        .text{
          font-size: 12px;
        }
        .btn{
          padding: .4rem 1.5rem;

        }
      }

    }
    .formDiv{
      gap: 1rem;
      transform: translateY(-.5rem);
      .headingDiv{
        padding: 1rem 0;
        img {
          width: 40px;
        }
        h3{
          font-size: 20px;
        }
      }
      .form{
        gap: .5rem;
        .inputDiv{
          input{
            width: 100%;
          }
        }
      }
    }
    }
  }
}

@media screen and (max-width: 687px){
  .loginPage, .registerPage{
    .container{
    


    .videoDiv{
    
      .textDiv{
        .title{
          font-size: 25px;
        }
        p{
          padding: 1rem;
        }
      }
      .footerDiv{
        transform: translateY(-.5rem);
        .text{
          font-size: 12px;
        }
        .btn{
          padding: .8rem 1.5rem;

        }
      }

    }
    .formDiv{
     
      .headingDiv{
        padding: 1.5rem 0;
   
        h3{
          font-size: 20px;
        }
      }
      .form{
     
        .inputDiv{
          input{
            width: 100%;
            max-width: 200px;
          }
        }
      }
    }
    }
  }
}

@media screen and (max-width: 927px){
  .loginPage, .registerPage{
    .container{
      width: 85%;



 
    }
  }
}

/* .dropDownProfile {
  position: absolute;
  right: 1rem;
  top: 6rem;
  width: 100px;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid gray;
}

.dropDownProfile ul {
  
  display: flex;
  flex-direction: column;
  gap: 20px;
  

}
.dropDownProfile ul li{
  
  cursor: pointer;
  color: var(--textColor);
  font-weight: 700;
  &:hover{
    color: green;
    transition: 0.3s ease;
  }

}


.dropDownProfile::before{
  content: '';
  position: absolute;
  top: -.8rem;
  right: 1.45rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;


} */
/* components/DropdownMenu.module.css */


.dropdown {
  position: absolute;  
  top: 45px;
  right: -40px;
  transform: translateX(-45%);
  background-color: var(--whiteColor);
  border: 1px solid grey;
  padding: 0 2rem;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(215, 48, 48);
  font-weight: 600;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  &:hover{
    background-color: var(--bgColor);
    transition: .3s ease;
  }
 
  
}
.menu-item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  
  }
  .active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transform: 0.3s ease;
  }
  .inactive{
    opacity: 0;
    visibility: hidden;
    display: none;
    transform: translateY(-20px);
    transform: 0.3s ease;
    
  }